.loginPageContainer {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.logoText {
  top: 0;
  left: 0;
  font-family: var(--general-font);
  font-style: normal;
  width: 25vmin;
  height: 5vmin;
  font-size: 4.2vmin;
  font-weight: 200;
  text-align: center;
  color: var(--header-color);
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), var(--text-outline);
}

.loginWindowContainer {
  width: 100vw;
  height: 93vh;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
}

.loginWindow {
  background: var(--window-background);
  border: var(--window-outline);
  box-shadow: 5px 0px 4px var(--window-shadow),
    -5px 5px 4px var(--window-shadow);
  border-radius: 20px;
  width: 70vmin;
  height: 65vmin;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.loginHeader {
  font-family: var(--general-font);
  font-style: normal;
  color: var(--header-color);
  font-weight: 300;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), var(--text-outline);
  font-size: 5.5vmin;
  text-align: center;
  margin-top: 3.5vmin;
  margin-bottom: 2vmin;
}

.lineBreak {
  height: 0.1vmin;
  border: var(--line-break-outline);
  background-color: var(--header-color);
  box-shadow: 5px 0px 4px var(--window-shadow),
    -5px 5px 4px var(--window-shadow);
  width: 45vmin;
  margin-bottom: 2vmin;
}

.emailInputHeader {
  text-align: left;
  width: 53vmin;
  font-size: 2.7vmin;
  font-family: var(--general-font);
  font-weight: 300;
  font-style: normal;
  height: 1.5vmin;
  color: var(--header-color);
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), var(--text-outline);
  padding: 0;
  margin-top: 3vmin;
}

.emailInput {
  text-align: left;
  width: 53vmin;
  font-size: 2.3vmin;
  font-family: var(--general-font);
  font-weight: 300;
  font-style: normal;
  color: var(--text-color);
  background-color: var(--header-color);
  border-radius: 20px;
  border: 0px;
  box-shadow: 5px 0px 4px var(--window-shadow),
    -5px 5px 4px var(--window-shadow);
  padding-left: 2vmin;
  padding-top: 1vmin;
  padding-bottom: 1vmin;
  margin-top: 0.1vmin;
}

.passwordInputHeader {
  text-align: left;
  width: 53vmin;
  font-size: 2.7vmin;
  font-family: var(--general-font);
  font-weight: 300;
  font-style: normal;
  height: 1.5vmin;
  color: var(--header-color);
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), var(--text-outline);
  padding: 0;
  margin-top: 3vmin;
}

.passwordInput {
  text-align: left;
  width: 53vmin;
  font-size: 2.3vmin;
  font-family: var(--general-font);
  font-weight: 300;
  font-style: normal;
  color: var(--text-color);
  background-color: var(--header-color);
  border-radius: 20px;
  border: 0px;
  box-shadow: 5px 0px 4px var(--window-shadow),
    -5px 5px 4px var(--window-shadow);
  padding-left: 2vmin;
  padding-top: 1vmin;
  padding-bottom: 1vmin;
  margin-top: 0.1vmin;
}

.loginButton {
  background-color: rgba(255, 118, 219, 0.69) !important;
  font-size: 4vmin;
  width: 29vmin;
  height: 7vmin;
  margin-top: 4vmin !important;
}

.loginButton:hover {
  background-color: rgba(171, 82, 148, 0.69) !important;
}

.createButton {
  font-size: 4vmin;
  width: 35vmin;
  height: 7vmin;
  margin-top: 3vmin !important;
}
