.questionWindow {
  background-color: rgba(239, 153, 90, 0.83);
  box-shadow: 5px 0px 4px rgba(0, 0, 0, 0.25), -5px 5px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  width: 54vw;
  height: 17.6vh;
  display: flex;
  flex-direction: row;
  margin-top: 2vmin;
}

.leftContainer {
  display: flex;
  flex-direction: column;
  width: 13vw;
  height: 37.9vh;
}

.nameHolder {
  background-color: rgba(255, 198, 145, 0.83);
  box-shadow: 4px 0px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px 0px;
  width: 13vw;
  height: 5vh;
  font-size: 3vmin;
  color: var(--header-color);
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), var(--text-outline);
}

.questionHolder {
  font-size: 3vmin;
  color: var(--header-color);
  width: 61vw;
  text-align: left;
  padding-left: 5vmin;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), var(--text-outline);
  padding-top: 1vmin;
  padding-bottom: 2vmin;
  padding-right: 2vmin;
}

.dropdownHeader {
  width: 13vw;
  height: 10vh;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--header-color);
  font-family: var(--general-font);
  font-weight: 300;
  font-size: 3.7vmin;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), var(--text-outline);
  background-color: rgba(255, 198, 145, 0.83);
  box-shadow: 4px 0px 4px rgba(0, 0, 0, 0.25);
  border-radius: 0px 20px;
  user-select: none;
}

.teacherOptions {
  width: 13vw;
  height: 3vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 4.4vh;
  padding: 0;
  overflow: visible;
}

.dropComponent {
  width: 13vw;
  height: 10vh;
  margin-top: 0.5vh;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  z-index: 100;
  user-select: none;
}

.TAOptions {
  background: rgba(255, 198, 144, 1);
  box-shadow: 5px 0px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  padding: 0;
  width: 13vw;
  height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 100;
  user-select: none;
}

.dropoption {
  color: var(--header-color);
  font-family: var(--general-font);
  font-weight: 300;
  font-size: 2.7vmin;
  width: 13vw;
  height: 5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 0vmin;
  margin-bottom: 0vmin;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), var(--text-outline);
  z-index: 100;
  user-select: none;
}

.first {
  border-radius: 20px 20px 0px 0px;
  z-index: 100;
}

.last {
  border-radius: 0px 0px 20px 20px;
  z-index: 100;
}

.dropoption:hover {
  background-color: rgba(126, 34, 34, 0.3);
  z-index: 100;
}

.accept {
  color: #0ad98e;
  z-index: 100;
}

.delete {
  color: #fa3838;
  z-index: 100;
}

.dropdownLines {
  border: var(--line-break-outline);
  background-color: var(--header-color);
  box-shadow: 5px 0px 4px var(--window-shadow),
    -5px 5px 4px var(--window-shadow);
  width: 12vw;
  margin-top: 1vh;
  margin-bottom: 0vh;
  height: 0.01vh;
  user-select: none;
}

.tag {
  width: 5.5vw;
  height: 2.5vh;
  color: var(--header-color);
  font-family: var(--general-font);
  font-weight: 600;
  font-size: 1.8vmin;
  background-color: var(--default-tag-color);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), var(--text-outline);
  box-shadow: 5px 0px 4px var(--window-shadow),
    -5px 5px 4px var(--window-shadow);
  margin-top: 1vh;
  margin-left: 0.5vw;
}

.homework {
  background-color: rgba(250, 75, 90, 0.69);
}

.exam {
  background-color: rgba(75, 242, 109, 0.69);
}

.lab {
  background-color: rgba(217, 75, 242, 0.69);
}

.lecture {
  background-color: rgba(74, 118, 240, 0.69);
}

.priorityChange {
  width: 6vw;
  height: 2.5vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: rgba(255, 198, 144, 1);
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), var(--text-outline);
  box-shadow: 5px 0px 4px var(--window-shadow), 0px 5px 4px var(--window-shadow);
  border: 0;
  color: var(--header-color);
  font-weight: 600;
  font-family: var(--general-font);
  font-size: 1.8vmin;
  border-radius: 10px;
  margin-top: 3vh;
  margin-left: 0.5vw;
}

.changePriorityOption {
  background-color: rgba(255, 198, 144, 1);
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), var(--text-outline);
  box-shadow: 5px 0px 4px var(--window-shadow), 0px 5px 4px var(--window-shadow);
  border: 0;
  color: var(--header-color);
  font-weight: 300;
  font-family: var(--general-font);
  border-radius: 20px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.changePriorityButton {
  width: 6vw;
  height: 2.5vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 198, 144, 1) !important;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), var(--text-outline);
  box-shadow: 5px 0px 4px var(--window-shadow), 0px 5px 4px var(--window-shadow);
  border: 0;
  color: var(--header-color);
  font-weight: 600 !important;
  font-family: var(--general-font);
  font-size: 1.8vmin !important;
  border-radius: 10px !important;
  margin-top: 0.5vh !important;
  margin-left: 0.5vw !important;
}

.changePriorityButton:hover {
  background-color: rgba(209, 163, 119, 1) !important;
}

.changePriorityOption:hover {
  background-color: rgba(209, 163, 119, 1) !important;
}

.priorityChange:hover {
  background-color: rgba(209, 163, 119, 1) !important;
}